-------------------------------------< >---------------------------------------
-------------------------------------<終わり>---------------------------------------

-------------------------------------<PDFのCSS初期>---------------------------------------
.kaiki{
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin-left: 10rem;
  font-size: 1.0rem;
  border: 1px solid black;
}
.rotate{
  -webkit-text-combine: horizontal;
}
.k-indent{
  text-indent: 1rem;
}
.k-head{
  margin-right: 3rem;
  margin-left: 5rem;
  margin-top: 7rem;
}
.k-main{
  margin: 3rem 3rem 4rem 2rem;
  font-size: 18px;
}
.k-big{
  font-size: 28px;
}
.k-line{
  line-height: 3rem;
}
.k-end{
  margin: 20rem 0 2rem 0;
}
.k-address{
  margin-top: 1rem;
}

-------------------------------------<終わり>---------------------------------------

-------------------------------------<PDF化のすべて>---------------------------------------
<main class="kaiki" style="orientation: 'Landscape'">
  <div class="k-head">
    <h1>年忌<span class="nono">の</span>お知らせ</h1>
  </div>
  <div id="js-span-wrap-text">
    あああああああああ
  </div>
  <div id="test">
    いいいいいいいいい
  </div>
  <div id="moon">
    ううううううううう
  </div>
  <div class="js-span-wrap-text">
    えええええええええ
  </div>


  <div class="k-main">
    <div class="">
      <div class="">
        合掌
      </div>
      <div class="">
        <p class="k-indent">季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶
          季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶季節の挨拶
          季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶<br>
          さて、
        </p>
        <div class="k-line">
          <span><%= Time.current.year %>年</span>
          <span><%= @past.deathday.month %>月<%= @past.deathday.day %>日</span><br>
          <span class="k-big">法名<%= @past.penname %></span><br>
          <span><%= @current %></span>様の

          <span>
            <% if @current - @death == 1 %>
              壱周忌
            <% elsif @current - @death == 2 %>
              参回忌
            <% elsif @current - @death == 6 %>
              七回忌
            <% elsif @current - @death == 12 %>
              十三回忌
            <% elsif @current - @death == 22 %>
              二十三回忌
            <% else %>
              年忌法要
            <% end %>
          </span>が参ります。
        </div>
        <br>
        法事をお考えの場合はご都合の良い日をお知らせください。<br>
        早めに連絡いただきますとご希望の時間が<br>とりやすくなりますので、お早めにご連絡ください。
      </div>
    </div>
  </div>
  <div class="k-end">
    <div class="k-big">
      お寺の名前
    </div>
    <div class="k-address">
      <div class="">
        山梨県　富士吉田市　
      </div>
      <div class="">
        電話番号:０１９２８２１１８０２１
        <br>
        FAX：８１９７３４５９４７１３８９
      </div>
    </div>
  </div>
</main>
-------------------------------------<終わり>---------------------------------------
-------------------------------------<旧型　過去帳テーブル>---------------------------------------
<div class="container-fluid c-table">
  <table class="table table-striped border">
    <thead>
      <tr class="text-nowrap">
        <th scope="col">#</th>
        <th scope="col">俗名</th>
        <th scope="col">戒名</th>
        <th scope="col">命日</th>
        <th scope="col">享年</th>
        <th scope="col">施主との関係</th>
      </tr>
    </thead>
    <% @pasts.each do |past| %>
      <tbody>
        <tr>
          <th scope="row"><%= past.id %></th>
          <td class="text-nowrap">
            <%= link_to danka_path(past.danka_id) do %>
              <ruby>
              <rb>
                <%= past.name%>
              <rt>
                <%= past.subname %>
              </ruby>
            <% end %>
          </td>
          <td>
            <ruby>
            <rb>
              <%= past.penname%>
            <rt>
              <%= past.subpenname %>
            </ruby>
          </td>
          <td><%= past.deathday %></td>
          <td><%= past.deathage %></td>
          <td><%= past.relation %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
-------------------------------------<終わり>---------------------------------------
-------------------------------------<旧型　檀家テーブル>---------------------------------------
<div class="container-fluid c-table">
  <table class="table table-striped border">
    <thead>
      <tr class="text-nowrap">
        <th scope="col">#</th>
        <th class="" scope="col">檀家名</th>
        <th scope="col">郵便番号</th>
        <th scope="col">住所</th>
        <th scope="col">電話番号</th>
      </tr>
    </thead>
    <% @dankas.each do |danka| %>
      <tbody>
        <tr>
          <th scope="row"><%= danka.id %></th>
          <td class="text-nowrap">
            <%= link_to danka_path(danka) do %>
              <ruby>
              <rb>
                <%= danka.name%>
              <rt>
                <%= danka.subname %>
              </ruby>
            <% end %>
          </td>
          <td class=""><%= danka.postal %></td>
          <td><%= danka.addless %></td>
          <td><%= danka.tel %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
-------------------------------------<終わり>---------------------------------------

-------------------------------------<入力ホーム　旧型　過去町>---------------------------------------
入力ホーム　旧型　過去町
<%= form_tag("/pasts/update") do %>
<form>
  <div class="form-check d-inline-block">
    <input class="form-check-input" type="checkbox" id="check1" name="check">
    <label class="form-check-label" for="check1"></label>
  </div>

  <div class="" name="danka_id">
    <% @params %>
  </div>

  <div class="hide">
    <label for="inputenum">享年</label>
    <input type="number" class="form-control" id="inputemail" name="danka_id" value="<%= @params %>">
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 col-lg-3 col-8">
      <label for="inputsubname">フリガナ</label>
      <input type="text" class="form-control" id="inputsubname" name="subname">
    </div>
    <div class="form-group col-md-5 col-lg-4 col-8">
      <label for="inputname">俗名</label>
      <input type="text" class="form-control" id="inputname" name="name">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5 col-lg-4 col-8">
      <label for="inputsubname">フリガナ</label>
      <input type="text" class="form-control" id="inputsubname" name="subpenname">
    </div>
    <div class="form-group col-md-6 col-lg-5 col-8">
      <label for="inputname">戒名</label>
      <input type="text" class="form-control" id="inputname" name="penname">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6 col-md-4">
      <label for="inputtel">命日</label>
      <input type="date" class="form-control" id="inputtel" name="deathday">
    </div>
    <div class="form-group col-2 col-md-2 col-lg-1">
      <label for="inputemail">享年</label>
      <input type="number" class="form-control" id="inputemail" name="deathage">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6 col-md-4">
      <label for="inputtel">生年月日</label>
      <input type="date" class="form-control" id="inputtel" name="birthday">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 col-lg-3 col-8">
      <label for="inputsubname">葬儀の施主</label>
      <input type="text" class="form-control" id="inputsubname" name="funeral">
    </div>
    <div class="form-group col-md-5 col-lg-4 col-8">
      <label for="inputname">施主との続柄</label>
      <input type="text" class="form-control" id="inputname" name="relation">
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress1">備考1</label>
    <input type="text" class="form-control" id="inputAddress1" name="mark1">
  </div>

  <div class="form-group">
    <label for="textarea1">備考2</label>
    <textarea class="form-control" id="textarea1" rows="3" name="mark2"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">　登録　</button>


</form>
<% end %>
-------------------------------------<終わり>---------------------------------------
-------------------------------------<入力フォーム　旧型>---------------------------------------
入力フォーム　旧型
<%= form_tag("/pasts/create") do %>
<form>
  <div class="form-check d-inline-block">
    <input class="form-check-input" type="checkbox" id="check1" name="check">
    <label class="form-check-label" for="check1"></label>
  </div>
  <div class="" name="danka_id">
    <% @params %>
  </div>
  <div class="hide">
    <label for="inputenum">享年</label>
    <input type="number" class="form-control" id="inputemail" name="danka_id" value="<%= @params %>">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 col-lg-3 col-8">
      <label for="inputsubname">フリガナ</label>
      <input type="text" class="form-control" id="inputsubname" name="subname">
    </div>
    <div class="form-group col-md-5 col-lg-4 col-8">
      <label for="inputname">俗名</label>
      <input type="text" class="form-control" id="inputname" name="name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5 col-lg-4 col-8">
      <label for="inputsubname">フリガナ</label>
      <input type="text" class="form-control" id="inputsubname" name="subpenname">
    </div>
    <div class="form-group col-md-6 col-lg-5 col-8">
      <label for="inputname">戒名</label>
      <input type="text" class="form-control" id="inputname" name="penname">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6 col-md-4">
      <label for="inputtel">命日</label>
      <input type="date" class="form-control" id="inputtel" name="deathday">
    </div>
    <div class="form-group col-2 col-md-2 col-lg-1">
      <label for="inputemail">享年</label>
      <input type="number" class="form-control" id="inputemail" name="deathage">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6 col-md-4">
      <label for="inputtel">生年月日</label>
      <input type="date" class="form-control" id="inputtel" name="birthday">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4 col-lg-3 col-8">
      <label for="inputsubname">葬儀の施主</label>
      <input type="text" class="form-control" id="inputsubname" name="funeral">
    </div>
    <div class="form-group col-md-5 col-lg-4 col-8">
      <label for="inputname">施主との続柄</label>
      <input type="text" class="form-control" id="inputname" name="relation">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress1">備考1</label>
    <input type="text" class="form-control" id="inputAddress1" name="mark1">
  </div>
  <div class="form-group">
    <label for="textarea1">備考2</label>
    <textarea class="form-control" id="textarea1" rows="3" name="mark2"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">　登録　</button>
</form>
<% end %>
-------------------------------------<終わり>---------------------------------------

-------------------------------------<旧型　檀家名簿ナビバー>---------------------------------------
<div class="c-head">
  <nav class="navbar navbar-expand navbar-dark bg-light m-3">
    <ul class="navbar-nav mr-auto s-big">
      <li class="nav-item">
        <div class="nav-link badge badge-info">
          <%= link_to("檀家名簿",dankas_path) %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link badge badge-info ml-2">
          <%= link_to("過去帳",pasts_path) %>
        </div>
      </li>
    </ul>
    <div class=" my-1 justify-content-end">
      <%= search_form_for @q do |f| %>
        <%= f.label :name_or_addless_cont,"檀家名" %>
        <%= f.search_field :name_or_addless_cont %>

        <%= f.submit "検索" %>
      <% end %>
    </div>
  </nav>
    <span class="btn btn-warning"><%= link_to("登録","/dankas/new")%></span>
</div>
-------------------------------------<終わり>---------------------------------------

-------------------------------------<過去帳旧型ナビバー>---------------------------------------
<div class="c-head">
  <nav class="navbar navbar-expand navbar-dark bg-light m-3">
    <ul class="navbar-nav mr-auto s-big">
      <li class="nav-item">
        <div class="nav-link badge badge-info">
          <%= link_to("檀家名簿",dankas_path) %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link badge badge-info ml-2">
          <%= link_to("過去帳",pasts_path) %>
        </div>
      </li>
    </ul>
    <div class="my-1 justify-content-end">
      <%= search_form_for @q do |f| %>
        <%= f.label :name_or_penname_cont, "過去帳" %>
        <%= f.search_field :name_or_penname_cont %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
  </nav>
  <%= select_tag(:year, options_for_select([["2015","2015"],["2016","2016"],["2017","2017"],["2018","2018"]])) %>
  <%= submit_tag "絞り込み" %>
</div>
-------------------------------------<終わり>---------------------------------------

-------------------------------------<旧型showテーブル>---------------------------------------
<table class="table table-sm" style="max-width:100%;">
  <% @pasts.each_with_index do |past,index| %>
    <div class="">
      <tbody>
        <tr class="d-no" style="border-bottom: hidden; border-top: hidden;">
          <th scope="row" rowspan="2"><br><%= index+1 %></th>
          <td>
            <span>俗名：<ruby><rb><%= past.name %><rt><%= past.subname %></ruby></span><br>
            <span>享年：<%= past.deathage %></span>
          </td>
          <td>
            <span>戒名：<ruby><rb><%= past.penname %><rt><%= past.subpenname %></ruby></span><br>
            <span>命日：<%= past.deathday %></span>
          </td>
          <td>
            <span>生年月日：<%= past.birthday %></span><br>
            <span>葬儀の施主：<%= past.funeral %></span>
          </td>
          <td>
            <span>施主との関係：<%= past.relation %></span><br>
            <span>備考1：<%= past.mark1 %></span>
          </td>
          <td class="">
            <%= link_to "/pasts/#{past.id}/edit" do %>
            <svg class="bottom-list bi bi-tools" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
              <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
            </svg>
            <% end %>
            <br>
            <%= link_to kaiki_past_path(:format => :pdf) do %>
            <svg class="bottom-list bi bi-receipt-cutoff" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
              <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <% end %>
          </td>
        </tr>
        <tr style="border: none;">
          <td colspan="4">
            <p class="table-last" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              備考2：<%= past.mark2 %>
            </p>
          </td>
          <td>
            <%= link_to "/pasts/#{past.id}",{method:"delete"} do %>
              <svg class="bottom-list bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            <% end %>
          </td>
        </tr>
        <tr>

        </tr>
      </tbody>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <p>
          備考2：<%= past.mark2 %>
        </p>
      </div>
    </div>
    <% end %>
</table>
-------------------------------------<終わり>---------------------------------------
