    <main>
      <div class="container mt-3">
        <span class="main-title h1">過去帳修正</span>
      </div>
      <div class="container">
        <%= form_for(@past) do |f| %>
          <div class="form-check d-inline-block">
            <%= f.label :check,"" %>
            <%= f.check_box :check,class: "",value: @past.check %>
          </div>
          <div class="">
            <div class="form-check d-inline-block">
              <%= f.label :danka_id,"檀家id" %>
              <%= f.number_field :danka_id,class: "form-control",value: @past.danka_id %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 col-lg-3 col-8">
              <%= f.label :subname,"フリガナ" %>
              <%= f.text_field :subname,class: "form-control" %>
            </div>
            <div class="form-group col-md-5 col-lg-4 col-8">
              <%= f.label :name,"俗名" %>
              <%= f.text_field :name,class: "form-control" %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5 col-lg-4 col-8">
              <%= f.label :subpenname,"フリガナ" %>
              <%= f.text_field :subpenname,class: "form-control" %>
            </div>
            <div class="form-group col-md-6 col-lg-5 col-8">
              <%= f.label :penname,"戒名" %>
              <%= f.text_field :penname,class: "form-control" %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6 col-md-4">
              <%= f.label :deathday,"命日" %>
              <%= f.date_field :deathday,class: "form-control" %>
            </div>
            <div class="form-group col-2 col-md-2 col-lg-1">
              <%= f.label :deathage,"享年" %>
              <%= f.number_field :deathage,class: "form-control" %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6 col-md-4">
              <%= f.label :birthday,"生年月日" %>
              <%= f.date_field :birthday,class: "form-control" %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4 col-lg-3 col-8">
              <%= f.label :funeral,"葬儀の施主" %>
              <%= f.text_field :funeral,class: "form-control" %>
            </div>
            <div class="form-group col-md-5 col-lg-4 col-8">
              <%= f.label :relation,"施主との関係" %>
              <%= f.text_field :relation,class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :mark1,"備考1" %>
            <%= f.text_field :mark1,class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :mark2,"備考2" %>
            <%= f.text_area :mark2,class: "form-control" %>
          </div>
          <%= f.submit "　編集　",class: "btn btn-primary" %>
        <% end %>
      </div>
    </main>
