      <main>
        <div class="">
          <h1 class="pl-3 pt-3">過去帳</h1>
          <div class="serch-form my-1 right">
            <%= search_form_for @q do |f| %>
              <%= f.label :name_or_penname_cont, "過去帳" %>
              <%= f.search_field :name_or_penname_cont %>
              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
        <div class="container-fluid c-table">
          <table class="table table-striped border">
            <thead>
              <tr class="text-nowrap">
                <th scope="col">#</th>
                <th scope="col">俗名</th>
                <th scope="col">戒名</th>
                <th scope="col">命日</th>
                <th scope="col">享年</th>
                <th scope="col">施主との関係</th>
              </tr>
            </thead>
            <% @pasts.each do |past| %>
              <tbody>
                <tr>
                  <th scope="row"><%= past.id %></th>
                  <td class="text-nowrap">
                    <%= link_to danka_path(past) do %>
                      <ruby>
                      <rb>
                        <%= past.name%>
                      <rt>
                        <%= past.subname %>
                      </ruby>
                    <% end %>
                  </td>
                  <td>
                    <ruby>
                    <rb>
                      <%= past.penname%>
                    <rt>
                      <%= past.subpenname %>
                    </ruby>
                  </td>
                  <td><%= past.deathday %></td>
                  <td><%= past.deathage %></td>
                  <td><%= past.relation %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </main>
