      <main>
        <div class="c-head">
          <nav class="navbar navbar-expand navbar-dark bg-light m-3">
            <ul class="navbar-nav mr-auto s-big">
              <li class="nav-item">
                <div class="nav-link badge badge-info">
                  <%= link_to("檀家名簿",dankas_path) %>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link badge badge-info ml-2">
                  <%= link_to("過去帳",pasts_path) %>
                </div>
              </li>
            </ul>
            <div class="border my-1 justify-content-end">
              <%= search_form_for @q do |f| %>
                <%= f.label :name_or_penname_cont, "なにか" %>
                <%= f.search_field :name_or_penname_cont %>

                <%= f.submit "検索" %>
              <% end %>
            </div>
          </nav>
            <div class="dropdown m-4">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                並べ替え
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">○年</a>
                <a class="dropdown-item" href="#">○年</a>
                <a class="dropdown-item" href="#">○年</a>
              </div>
            </div>

        </div>
        <div class="container-fluid c-table">
          <table class="table table-striped border">
            <thead>
              <tr class="text-nowrap">
                <th scope="col">#</th>
                <th scope="col">フリガナ</th>
                <th scope="col">俗名</th>
                <th scope="col">戒名</th>
                <th scope="col">命日</th>
                <th scope="col">享年</th>
              </tr>
            </thead>
            <% @pasts.each do |past| %>
              <tbody>
                <tr>
                  <th scope="row"><%= past.id %></th>
                  <td><%= past.subname %></td>
                  <td class="text-nowrap">
                    <%= link_to(past.name,"/dankas/#{past.danka_id}") %>
                  </td>
                  <td><%= past.penname %></td>
                  <td><%= past.deathday %></td>
                  <td><%= past.deathage %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </main>
