  <%= stylesheet_link_tag 'pasts' %>
      <main>
        <div class="mt-4">
          <h1 class="pl-3">過去帳</h1>
          <div class="serch-form my-1 right">
            <%= search_form_for @q do |f| %>
              <%= f.label :name_or_penname_cont, "過去帳" %>
              <%= f.search_field :name_or_penname_cont %>
              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
        <div class="past-list">
          <table class="tbl-r05">
            <tr class="thead">
              <th class="t-1">#</th>
              <th class="t-2">俗名</th>
              <th class="t-3">戒名</th>
              <th class="t-4">命日</th>
              <th class="t-5">享年</th>
              <th class="t-6">施主との関係</th>
            </tr>
            <% @pasts.each do |past| %>
            <tr>
              <td>-<%= past.id %>-</td>
              <td data-label="俗名">
                <%= link_to danka_path(past.danka_id) do %>
                  <ruby>
                  <rb>
                    <%= past.name%>
                  <rt>
                    <%= past.subname %>
                  </ruby>
              </td>
              <td data-label="戒名">
                <ruby>
                <rb>
                  <%= past.penname%>
                <rt>
                  <%= past.subpenname %>
                </ruby>
                <% end %>
              </td>
              <td data-label="命日"><%= past.deathday %></td>
              <td data-label="生年月日"><%= past.deathage %></td>
              <td data-label="施主との関係"><%= past.relation %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </main>
