<main class="kaiki" style="orientation: 'Landscape'">
  <div class="">
    <h1>
      <span class="rotate">年</span>
      <span class="rotate">忌</span>
      <span class="rotate">のえ</span>
      <span class="rotate">お</span>
      <span class="rotate">知</span>
      <span class="rotate">ら</span>
      <span class="rotate">せ</span>
    </h1>
  </div>
  <div class="k-main">
    <div class="">
      <div class="">
        合掌
      </div>
      <div class="">
        <p class="k-indent">季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶
          季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶季節の挨拶
          季節の挨拶季節の挨拶季節の挨拶季節の挨拶季節の挨拶<br>季節の挨拶季節の挨拶季節の挨拶<br>
          さて、
        </p>
        <div class="k-line">
          <span><%= Time.current.year %>年</span>
          <span><%= @past.deathday.month %>月<%= @past.deathday.day %>日</span><br>
          <span class="k-big">法名<%= @past.penname %></span><br>
          <span><%= @current %></span>様の

          <span>
            <% if @current - @death == 1 %>
              壱周忌
            <% elsif @current - @death == 2 %>
              参回忌
            <% elsif @current - @death == 6 %>
              七回忌
            <% elsif @current - @death == 12 %>
              十三回忌
            <% elsif @current - @death == 22 %>
              二十三回忌
            <% else %>
              年忌法要
            <% end %>
          </span>が参ります。
        </div>
        <br>
        法事をお考えの場合はご都合の良い日をお知らせください。<br>
        早めに連絡いただきますとご希望の時間が<br>とりやすくなりますので、お早めにご連絡ください。
      </div>
    </div>
  </div>
  <div class="k-end">
    <div class="k-big">
      お寺の名前
    </div>
    <div class="k-address">
      <div class="">
        山梨県　富士吉田市　
      </div>
      <div class="">
        電話番号:０１９２８２１１８０２１
        <br>
        FAX：８１９７３４５９４７１３８９
      </div>
    </div>
  </div>
</main>
