<main class="kaiki" style="orientation: 'Landscape'">
  <div class="">
    <h1>
      <span class="rotate">年</span>
      <span class="rotate">忌</span>
      <span class="rotate">の</span>
      <span class="rotate">お</span>
      <span class="rotate">知</span>
      <span class="rotate">ら</span>
      <span class="rotate">せ</span>
    </h1>
  </div>
  <div class="k-main">
    <div class="">
      <div class="">
        <span class="rotate">合</span>
        <span class="rotate">掌</span>
      </div>
      <div class="">
        <p class="k-indent">
          <span class="rotate">皆</span>
          <span class="rotate">様</span>
          <span class="rotate">に</span>
          <span class="rotate">お</span>
          <span class="rotate">か</span>
          <span class="rotate">れ</span>
          <span class="rotate">ま</span>
          <span class="rotate">し</span>
          <span class="rotate">て</span>
          <span class="rotate">は</span>
          <span class="rotate">御</span>
          <span class="rotate">健</span>
          <span class="rotate">勝</span>
          <span class="rotate">の</span>
          <span class="rotate">こ</span>
          <span class="rotate">と</span>
          <span class="rotate">と</span>
          <span class="rotate">存</span>
          <span class="rotate">じ</span>
          <span class="rotate">申</span>
          <span class="rotate">し</span>
          <span class="rotate">あ</span>
          <span class="rotate">げ</span>
          <span class="rotate">ま</span>
          <span class="rotate">す</span>
          <br>
          <span class="rotate">　</span>
          <span class="rotate">本</span>
          <span class="rotate">年</span>
          <span class="rotate">は</span>
          <span class="rotate">左</span>
          <span class="rotate">記</span>
          <span class="rotate">の</span>
          <span class="rotate">よ</span>
          <span class="rotate">う</span>
          <span class="rotate">に</span>
          <span class="rotate">御</span>
          <span class="rotate">家</span>
          <span class="rotate">族</span>
          <span class="rotate">様</span>
          <span class="rotate">の</span>
          <span class="rotate">年</span>
          <span class="rotate">回</span>
          <span class="rotate">忌</span>
          <span class="rotate">が</span>
          <span class="rotate">参</span>
          <span class="rotate">り</span>
          <span class="rotate">ま</span>
          <span class="rotate">す</span>
          <span class="rotate">の</span>
          <span class="rotate">で</span>
          <span class="rotate">御</span>
          <span class="rotate">案</span>
          <span class="rotate">内</span>
          <span class="rotate">申</span>
          <span class="rotate">し</span>
          <span class="rotate">上</span>
          <span class="rotate">げ</span>
          <span class="rotate">ま</span>
          <span class="rotate">す</span>
        </p>
        <div class="k-line">
          <span class="rotate">命</span>
          <span class="rotate">日</span>
          <span class="rotate">　</span>
          <span><%= Time.current.year %></span>
          <span class="rotate">年</span>
          <span><%= @past.deathday.month %></span>
          <span class="rotate">月</span>
          <span><%= @past.deathday.day %></span>
          <span class="rotate">日</span>
          <br>
          <span class="rotate">法</span>
          <span class="rotate">名</span>
          <span class="rotate">　</span>
          <span class="rotate"><%= @past.penname %></span>
          <span><%= @past.name %></span>
          <span class="rotate">様</span>
          <span class="rotate">の</span>
          <span>
            <% if @current - @death == 1 %>
              壱周忌
            <% elsif @current - @death == 2 %>
              参回忌
            <% elsif @current - @death == 6 %>
              七回忌
            <% elsif @current - @death == 12 %>
              十三回忌
            <% elsif @current - @death == 22 %>
              二十三回忌
            <% else %>
              <span class="rotate">年</span>
              <span class="rotate">忌</span>
              <span class="rotate">法</span>
              <span class="rotate">要</span>
            <% end %>
          </span>が参ります。
        </div>
        <br>
        法事をお考えの場合はご都合の良い日をお知らせください。<br>
        早めに連絡いただきますとご希望の時間が<br>とりやすくなりますので、お早めにご連絡ください。
      </div>
    </div>
  </div>
  <div class="k-end">
    <div class="k-big">
      お寺の名前
    </div>
    <div class="k-address">
      <div class="">
        山梨県　富士吉田市　
      </div>
      <div class="">
        電話番号:０１９２８２１１８０２１
        <br>
        FAX：８１９７３４５９４７１３８９
      </div>
    </div>
  </div>
</main>
