<main class="kaiki">
  <div class="k-head center">
    <h1>年忌のお知らせ</h1>
  </div>
  <div class="k-main">
    <div class="">
      <p>
        合掌
        <br>
        皆様には益々ご隆昌のことと存じ上げます。<br>
        本年は下記のようにご家族様に御年忌が参ります。<br>
        法事をお考えの場合はご都合の良い日お電話またはファックスにてをお知らせください。
      </p>
      <div class="k-line center">
        <span>
          <% if @current - @death == 1||0 %>
            壱周忌
          <% elsif @current - @death == 2 %>
            参回忌
          <% elsif @current - @death == 6 %>
            七回忌
          <% elsif @current - @death == 12 %>
            十三回忌
          <% elsif @current - @death == 22 %>
            二十三回忌
          <% else %>
            年忌法要
          <% end %>
          法要
        </span>
        <br>
        <span>命日：
          <%= Time.current.year %>年
          <%= @past.deathday.month %>月
          <%= @past.deathday.day %>日
        </span>
        <br>
        <span>法名：
          <%= @past.penname %>
        </span>
        <br>
        <span>俗名：
          <%= @past.name %>様
        </span>
      </div>
      <br>
      早めに連絡いただきますとご希望の時間がとりやすくなります。
    </div>
  </div>
  <div class="k-end center">
    <div class="">
      <%= @user.name %>
    </div>
    <div class="">
      山梨県　富士吉田市　
    </div>
    <div class="">
      電話番号：０１９２８２１１８０２１
      <br>
      ファックス：８１９７３４５９４７１３８９
    </div>
  </div>
</main>
