<%= stylesheet_link_tag 'dankas' %>
  <main>
      <div class="d-head mt-4">
        <h1 class="pl-3">檀家名簿</h1>
        <div class="serch-box">
          <div class="float-right">
            <span class="btn btn-warning"><%= link_to("檀家登録","/dankas/new")%></span>
          </div>
          <div class=" my-1 serch-form right float-right">
            <%= search_form_for @q do |f| %>
              <%= f.label :name_or_addless_cont,"檀家名" %>
              <%= f.search_field :name_or_addless_cont %>

              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="danka-list mb-5">
        <table class="tbl-r05">
          <tr class="thead">
            <th class="t-1">#</th>
            <th class="t-2">檀家名</th>
            <th class="t-3">郵便番号</th>
            <th class="t-4">住所</th>
            <th class="t-5">電話番号</th>
          </tr>
          <% @dankas.each do |danka| %>
          <tr>
            <td>-<%= danka.id %>-</td>
            <td data-label="檀家名">
              <%= link_to danka_path(danka) do %>
                <ruby>
                <rb>
                  <%= danka.name%>
                <rt>
                  <%= danka.subname %>
                </ruby>
              <% end %>
            </td>
            <td data-label="郵便番号"><%= danka.postal %></td>
            <td data-label="住所"><%= danka.addless %></td>
            <td data-label="電話番号"><%= danka.tel %></td>
          </tr>
          <% end %>
        </table>
      </div>
      </main>
