
    <main>

        <div class="c-head">
          <nav class="navbar navbar-expand navbar-light bg-light m-3">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link badge badge-info " href="/dankas/show">檀家名簿 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link badge badge-info ml-2" href="/pasts/index">過去帳</a>
              </li>
            </ul>


            <div class="border my-1 justify-content-end">
              <%= search_form_for @q do |f| %>
                <%= f.label :name_or_addless_cont, "Keyword" %>
                <%= f.search_field :name_or_addless_cont %>

                <%= f.submit "検索" %>
              <% end %>
            </div>

          </nav>
            <div class="dropdown m-4">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                並べ替え
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">あ行</a>
                <a class="dropdown-item" href="#">か行</a>
                <a class="dropdown-item" href="#">さ行</a>
              </div>
            </div>
            <span class="btn btn-warning"><%= link_to("登録","/dankas/new")%></span>

        </div>

          <div class="container-fluid c-table">
            <table class="table table-striped border">
              <thead>
                <tr class="text-nowrap">
                  <th scope="col">#</th>
                  <th scope="col">フリガナ</th>
                  <th scope="col">管理者</th>
                  <th scope="col">住所</th>
                  <th scope="col">電話</th>
                </tr>
              </thead>
              <% @dankas.each do |danka| %>
                <tbody>
                  <tr>
                    <th scope="row"><%= danka.id %></th>
                    <td><%= danka.subname %></td>
                    <td class="text-nowrap"><%= link_to(danka.name,"/dankas/#{danka.id}") %></td>
                    <td><%= danka.addless %></td>
                    <td><%= danka.tel %></td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
      </main>
