
    <main>
      <div class="">
        <h1 class="pl-3 pt-3">檀家名簿</h1>
        <div class=" my-1 serch-form right float-right">
          <%= search_form_for @q do |f| %>
            <%= f.label :name_or_addless_cont,"檀家名" %>
            <%= f.search_field :name_or_addless_cont %>

            <%= f.submit "検索" %>
          <% end %>
        </div>
        <span class="btn btn-warning"><%= link_to("檀家登録","/dankas/new")%></span>
      </div>
      <div class="container-fluid c-table">
        <table class="table table-striped border">
          <thead>
            <tr class="text-nowrap">
              <th scope="col">#</th>
              <th scope="col">檀家名</th>
              <th scope="col">郵便番号</th>
              <th scope="col">住所</th>
              <th scope="col">電話番号</th>
            </tr>
          </thead>
          <% @dankas.each do |danka| %>
            <tbody>
              <tr>
                <th scope="row"><%= danka.id %></th>
                <td class="text-nowrap">
                  <%= link_to danka_path(danka) do %>
                    <ruby>
                    <rb>
                      <%= danka.name%>
                    <rt>
                      <%= danka.subname %>
                    </ruby>
                  <% end %>
                </td>
                  <td><%= danka.postal %></td>
                <td><%= danka.addless %></td>
                <td><%= danka.tel %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      </main>
