      <main>
        <div class="owner">
          <div class="o-header mb-5">
            <h1 class="pl-3 pt-5">檀家詳細</h1>
            <div class="float-right pr-4 mt-3">
              <div class="btn btn-secondary btn-sm"> <%= link_to("　修正　","/dankas/#{@danka.id}/edit") %> </div>
              <div class="btn btn-danger btn-sm"> <%= link_to("　削除　","/dankas/#{@danka.id}",{method:"delete"}) %> </div>
            </div>
          </div>
          <div class="o-list">
            <div class="container">
              <section>
                <div class="">
                  <span class="o-name line">
                    <span class="mr-1">No. </span><span><%= @danka.id %></span>
                    <span class="mr-2 ml-5">施主名:</span> <span><ruby><rb> <%= @danka.name %><rt><%= @danka.subname %></ruby></span>
                  </span>
                </div>
              </section>
              <section>
                <div class="oo">
                  <div class="line">
                    <span>郵便番号：</span>
                    <span><%= @danka.postal %></span>
                  </div>
                </div>
                <div class="oo">
                  <div class="line">
                    <span>住所：</span>
                    <span><%= @danka.addless %></span>
                  </div>
                </div>
                <div class="">
                  <div class="line">
                    <span>住所２：</span>
                    <span><%= @danka.addless2 %></span>
                  </div>
                </div>
              </section>
              <section>
                <div class="oo">
                  <div class="line">
                    <span>電話番号：</span>
                    <span><%= @danka.tel %></span>
                  </div>
                </div>
                <div class="">
                  <div class="line">
                    <span>メール：</span>
                    <span><%= @danka.email %></span>
                  </div>
                </div>
              </section>
              <section>
                <div class="">
                  <div class="line">
                    <span>備考１：</span>
                    <span><%= @danka.mark1 %></span>
                  </div>
                </div>
                <div class="">
                  <div class="line">
                    <span>備考２：</span>
                    <span><%= @danka.mark2 %></span>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div class="past">
          <div class="o-past">
            <div class="o-header mb-5">
              <h1 class="pl-3 pt-5">過去帳</h1>
              <div class="float-right pr-4 mt-3">
                <div class="btn btn-warning btn-sm"> <%= link_to("　登録　","/pasts/#{@danka.id}/new") %> </div>
              </div>
            </div>
            <% @pasts.each do |past| %>
            <div class="o-pastlist">
              <div class="container">
                <section class="line">
                  <div class="ii">
                    <div class="">
                      <span>俗名：<%= past.danka_id %><%= past.id %></span>
                      <span><ruby><rb><%= past.name %><rt><%= past.subname %></ruby></span>
                    </div>
                  </div>
                  <div class="ii">
                    <div class="">
                      <span>戒名：<%= @id %></span>
                      <span><ruby><rb><%= past.penname %><rt><%= past.subpenname %></ruby></span>
                    </div>
                  </div>
                  <div class="ii">
                    <div class="">
                      <span>命日：</span>
                      <span><%= past.deathday %></span>
                    </div>
                  </div>
                  <div class="ii">
                    <div class="">
                      <span>続柄：</span>
                      <span><%= past.relation %></span>
                    </div>
                  </div>
                  <div class="btn btn-secondary btn-sm"> <%= link_to("　修正　","/pasts/#{past.id}/edit") %> </div>
                  <div class="btn btn-danger btn-sm"> <%= link_to("　削除　","/pasts/#{past.id}",{method:"delete"}) %> </div>
                </section>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </main>
