      <main class="mt-3 mb-5">
        <div class="owner">
          <div class="o-header mb-5">
            <h1 class="pl-3 pt-5">檀家詳細</h1>
            <div class="float-right pr-4 mt-3">
              <div class="btn btn-secondary btn-sm"> <%= link_to("　修正　","/dankas/#{@danka.id}/edit") %> </div>
              <div class="btn btn-danger btn-sm"> <%= link_to("　削除　","/dankas/#{@danka.id}",{method:"delete"}) %> </div>
            </div>
          </div>
          <div class="o-list">
            <div class="container">
              <section>
                <div class="">
                  <span class="o-name line">
                    <span class="mr-1">No. </span><span><%= @danka.id %></span>
                    <span class="mr-2 ml-5">施主名:</span> <span><ruby><rb> <%= @danka.name %><rt><%= @danka.subname %></ruby></span>
                  </span>
                </div>
              </section>
              <section>
                <div class="oo">
                  <div class="line">
                    <span>郵便番号：</span>
                    <span><%= @danka.postal %></span>
                  </div>
                </div>
                <div class="oo">
                  <div class="line">
                    <span>住所：</span>
                    <span><%= @danka.addless %></span>
                  </div>
                </div>
                <div class="">
                  <div class="line">
                    <span>住所２：</span>
                    <span><%= @danka.addless2 %></span>
                  </div>
                </div>
              </section>
              <section>
                <div class="oo">
                  <div class="line">
                    <span>電話番号：</span>
                    <span><%= @danka.tel %></span>
                  </div>
                </div>
                <div class="">
                  <div class="line">
                    <span>メール：</span>
                    <span><%= @danka.email %></span>
                  </div>
                </div>
              </section>
              <section>
                <div class="">
                  <div class="line">
                    <span>備考１：</span>
                    <span><%= @danka.mark1 %></span>
                  </div>
                </div>
                <div class="">
                  <div class="line">
                    <span>備考２：</span>
                    <span><%= @danka.mark2 %></span>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div class="past">
          <div class="o-past">
            <div class="o-header mb-5">
              <h1 class="pl-3 pt-5">過去帳</h1>
              <div class="float-right pr-4 mt-3">
                <div class="btn btn-warning btn-sm"><%= link_to '　登録　', new_past_path(:danka_id => @danka.id) %></div>
              </div>
            </div>


            <div class="mx-5">
              <table class="table table-sm" style="max-width:100%;">
                <% @pasts.each_with_index do |past,index| %>
                  <div class="">
                    <tbody>
                      <tr class="d-no" style="border-bottom: hidden; border-top: hidden;">
                        <th scope="row" rowspan="2"><br><%= index+1 %></th>
                        <td>
                          <span>俗名：<ruby><rb><%= past.name %><rt><%= past.subname %></ruby></span><br>
                          <span>享年：<%= past.deathage %></span>
                        </td>
                        <td>
                          <span>戒名：<ruby><rb><%= past.penname %><rt><%= past.subpenname %></ruby></span><br>
                          <span>命日：<%= past.deathday %></span>
                        </td>
                        <td>
                          <span>生年月日：<%= past.birthday %></span><br>
                          <span>葬儀の施主：<%= past.funeral %></span>
                        </td>
                        <td>
                          <span>施主との関係：<%= past.relation %></span><br>
                          <span>備考1：<%= past.mark1 %></span>
                        </td>
                        <td class="">
                          <%= link_to "/pasts/#{past.id}/edit" do %>
                          <svg class="bottom-list bi bi-tools" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
                            <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                          </svg>
                          <% end %>
                          <br>
                          <%= link_to kaiki_past_path(:format => :pdf) do %>
                          <svg class="bottom-list bi bi-receipt-cutoff" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                            <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
                          </svg>
                          <% end %>
                        </td>
                      </tr>
                      <tr style="border: none;">
                        <td colspan="4">
                          <p class="table-last" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            備考2：<%= past.mark2 %>
                          </p>
                        </td>
                        <td>
                          <%= link_to "/pasts/#{past.id}",{method:"delete"} do %>
                            <svg class="bottom-list bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                          <% end %>
                        </td>
                      </tr>
                      <tr>

                      </tr>
                    </tbody>
                  </div>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <p>
                        備考2：<%= past.mark2 %>
                      </p>
                    </div>
                  </div>
                  <% end %>
              </table>

              <h2>----------------------------------------------------</h2>

              <% @pasts.each_with_index do |past,index| %>
              <table class="table table-sm" style="border-spacing: 100px;">
                <tbody>
                  <tr style="border-top: hidden;">
                    <th scope="row" rowspan="3"><br><%= index+1 %></th>
                    <td>俗名：<ruby><rb><%= past.name %><rt><%= past.subname %></ruby></td>
                    <td>戒名：<ruby><rb><%= past.penname %><rt><%= past.subpenname %></ruby></td>
                    <td>生年月日：<%= past.birthday %></td>
                    <td>施主との関係：<%= past.relation %></td>
                    <td><i class="far fa-trash-alt"></i></td>
                  </tr>
                  <tr style="border: hidden;">
                    <td>享年：<%= past.deathage %></td>
                    <td>命日：<%= past.deathday %></td>
                    <td>葬儀の施主：<%= past.funeral %></td>
                    <td>備考1：<%= past.mark1 %></td>
                    <td><i class="far fa-edit"></i></td>
                  </tr>
                  <tr style="border-top: hidden;">
                    <td colspan="4">

                      <% mark = "#mark" + index.to_s %>
                      <% mark_all_text = "mark" + index.to_s %>

                      <p class="table-last" data-toggle="collapse" href=<%= mark %> role="button" aria-expanded="false" aria-controls="collapseExample">
                        備考2：<%= past.mark2 %>
                      </p>
                    </td>
                    <td><i class="far fa-copy"></i></td>
                  </tr>
                </tbody>
              </table>
              <div class="collapse" id=<%= mark_all_text %>>
                <div class="card card-body">
                  <p>
                    備考2：<%= past.mark2 %>
                  </p>
                </div>
              </div>
              <% end %>
            </div>



            <h1>--------------------------------------------------------------</h1>

            <% @pasts.each_with_index do |past,index| %>
            <div class="mx-5">
              <table style="width:100%;" align="left" border="1">
                <tr>
                  <th rowspan="3" style="text-align:center;">1</th>
                  <td>aaa</td>
                  <td>aaa</td>
                  <td>aaa</td>
                  <td>aaa</td>
                  <td>印刷</td>
                </tr>
                <tr>
                  <td>bbbb</td>
                  <td>bbbb</td>
                  <td>bbbb</td>
                  <td>bbbb</td>
                  <td>修正</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="last-td" data-toggle="collapse" href="#ooooo" role="button" aria-expanded="false" aria-controls="collapseExample">
                      ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
                    </p>
                  </td>
                  <td>ごみ</td>
                </tr>
              </table>
              <div class="collapse" id="ooooo">
                <div class="card card-body">
                  ccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
                </div>
              </div>
            </div>
            <% end %>



          </div>
        </div>
      </main>
